 {% extends 'base.html' %}

{% load static %}

{% block CSS_files%}
<link rel ="stylesheet" href="{% static "challenges/styles.css"%}">
<link rel ="stylesheet" href="{% static "challenges/includes/header.css"%}">

{% endblock%}
      {% block page_title%}
       All Challenge
       {% endblock%} 
  

       {%  block content%}
       {% include 'challenges/includes/header.html' %}

       <ul>
        {% for month in months%}
        <li><a href=" {% url 'task-month' month %}">{{month | title}}</a></li>

        {% endfor  %}
             
       </ul>
  {%endblock%}